@import "src/styles.scss";

.stats-block {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-bg);
  border-radius: 10px;
  padding: 18px 15px;
  margin-bottom: 24px;
  min-height: 82px;

  @include respond-to("tablet") {
    margin-bottom: 30px;
    justify-content: unset;
    gap: 100px;
    padding: 15px 32px;
  }

  .stats-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 24px;

    @include respond-to("tablet") {
      align-items: unset;
    }

    .stat-title {
      font-size: 11px;
      line-height: 16px;
      font-weight: normal;

      @include respond-to("tablet") {
        font-size: 13px;
        line-height: 20px;
      }
    }

    .stat-value {
      font-weight: 700;
      color: var(--primary-text);

      @include respond-to("tablet") {
        font-size: 22px;
        line-height: 32px;
      }
    }
  }
}
